<style>
/* related posts start */
#related-posts {
width : 540px;
margin-top:30px;
margin-left : 5px;
margin-bottom:20px;
font : 11px Verdana;
margin-bottom:10px;}
#related-posts h2 {
background: none repeat scroll 0 0 transparent;
border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px;
border: 1px solid #E2E2E2;
color: #4AA02C;
padding: 3px 10px 3px 3px;
width: 135px;
font-size:14pt;}
#related-posts .widget {
list-style-type : none;
margin : 5px 0 5px 0;
padding : 0;}
#related-posts .widget h2 {
font-size : 20px;
font-weight : normal;
margin : 5px 7px 0;
padding : 0 0 5px;}
#related-posts a {
color: gray;
font-family: arial;
font-size: 12pt;
font-weight: bold;
padding-right: 29px;
text-decoration: none;
text-shadow: 1px 1px 4px gray;}
#related-posts a:hover {
text-decoration : none;}
#related-posts ul {
border : medium none;
margin : 10px;
padding : 0;
margin-bottom: 20px;}
#related-posts ul li {
background: url(&quot;http://2.bp.blogspot.com/_66wIGDjagHk/Siu9RUcbv2I/AAAAAAAAAjM/gObN_C4Q-OU/s1600/poin.png&quot;) no-repeat scroll right 0 transparent;
border-bottom: 1px dotted #CCCCCC;
display: block;
line-height: 2em;
margin: 0 0 5px;
padding: 0 0 1px 21px;}
</style>